<!doctype html>
<html lang="vi">
  <%- include('../../partials/head.ejs') %>
  <body>
    <%- include('../../partials/scripts/pre-scripts.ejs') %>
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark">
            <img class="navbar-brand-image" />
          </a>
        </div>
        <form class="card card-md" method="post">
          <div class="card-body">
            <h2 class="h2 text-center mb-4">Đặt lại mật khẩu</h2>
            <div class="d-none">
              <input
                type="hidden"
                name="token"
                id="token"
                value="<%= token %>"
              />
            </div>
            <div class="mb-2">
              <label class="form-label"> Mật khẩu </label>
              <div class="input-group input-group-flat">
                <input
                  type="password"
                  id="password"
                  name="password"
                  tabindex="4"
                  class="form-control"
                  autocomplete="new-password"
                />
              </div>
            </div>
            <div class="mb-2">
              <label class="form-label"> Xác nhận mật khẩu </label>
              <div class="input-group input-group-flat">
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  tabindex="5"
                  class="form-control"
                  autocomplete="new-password"
                />
              </div>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">
                <%- include('../../partials/icons/mail.ejs') %>
                <span>Tiếp tục</span>
              </button>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">
          Quên nó đi! <a href="/auth/login">Hãy đưa tôi quay trở lại </a> trang
          đăng nhập
        </div>
      </div>
    </div>
    <%- include('../../partials/scripts/post-scripts.ejs') %>
  </body>
</html>
