<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit room</title>
  </head>
  <body>
    <main>
      <h1>Edit Room</h1>
      <form method="post">
        <div>
          <label for="name">Tên trọ</label>
          <input
            value="<%= locals.house.name %>"
            type="text"
            id="name"
            name="name"
            required
            autocomplete="name"
          />
        </div>
        <div>
          <label for="description">Nhập mô tả</label>
          <input
            value="<%= locals.house.description %>"
            type="description"
            id="description"
            name="description"
            required
          />
        </div>
        <div>
          <label for="address">Địa chỉ</label>
          <input
            value="<%= locals.house.address.path %>"
            type="tel"
            id="address"
            name="address"
            required
            autocomplete="tel"
          />
        </div>
        <div>
          <label for="price">Giá </label>
          <input
            value="<%= locals.house.price %>"
            type="price"
            id="price"
            name="price"
            required
            autocomplete="new-price"
          />
        </div>
        <div>
          <label for="area">Kích thước(m2)</label>
          <input
            value="<%= locals.house.area %>"
            type=""
            id="area"
            name="area"
            required
            autocomplete="new-size"
          />
        </div>
        <button type="submit">Xác nhận</button>
      </form>
      <div></div>
    </main>
  </body>
</html>
