<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile of <%= user.name %></title>
  </head>

  <body>
    <main>
      <h1>Infor</h1>
      <h1>
        Họ và tên:
        <%= user.name %>
      </h1>
      <h1>
        Số điện thoại
        <%= user.phone %>
      </h1>
      <h1>
        Mail:
        <%= user.email %>
      </h1>
      <div></div>

      <form action="/user/edit/<%=user._id %>" class="inline">
        <button class="float-left submit-button">Sửa thông tin</button>
      </form>
      <form action="/room/delete/<%=user._id %>" class="inline">
        <button class="float-left submit-button">Xoá tài khoản</button>
      </form>
    </main>
  </body>
</html>
