<!doctype html>
<html lang="vi">
  <%- include('../../partials/head.ejs') %>
  <body>
    <%- include('../../partials/scripts/pre-scripts.ejs') %>
    <%- include('../../partials/layouts/header.ejs') %>
    <main>
      <div class="page-wrapper">
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h1 class="page-title">Danh sách trọ</h1>
                <!-- TODO: Sửa hiển thị trang -->
                <div class="text-secondary mt-1">1-6 của 241 ảnh</div>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="d-flex">
                  <a href="#" class="btn btn-primary">
                    <%- include('../../partials/icons/home-plus.ejs') %>
                    <span>Đăng tin</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <% if (houses) { %> <% houses.forEach((house)=> { %>
              <%- include('../../partials/cards/house.ejs', { house }) %>
              <% }) %>
              <% } %>
            </div>
          </div>
        </div>
        <div class="container-xl">
          <div class="d-flex">
            <ul class="pagination ms-auto">
              <li class="page-item">
                <a
                  class="page-link"
                  href="/houses/page/<%= Math.max(1, page - 1)%>"
                >
                  <%- include('../../partials/icons/chevron-left.ejs') %>
                  <span> Trở lại </span>
                </a>
              </li>
              <li class="page-item <%= (page == 1 ? 'active' : '') %>">
                <a class="page-link" href="/houses/page/1">1</a>
              </li>
              <li class="page-item <%= (page == 2 ? 'active' : '') %>">
                <a class="page-link" href="/houses/page/2">2</a>
              </li>
              <li class="page-item <%= (page == 3 ? 'active' : '') %>">
                <a class="page-link" href="/houses/page/3">3</a>
              </li>
              <li class="page-item <%= (page == 4 ? 'active' : '') %>">
                <a class="page-link" href="/houses/page/4">4</a>
              </li>
              <li class="page-item <%= (page == 5 ? 'active' : '') %>">
                <a class="page-link" href="/houses/page/5">5</a>
              </li>
              <li class="page-item">
                <a
                  class="page-link"
                  href="/houses/page/<%= Math.min(5, page + 1)%>"
                >
                  <span> Tiếp theo </span>
                  <%- include('../../partials/icons/chevron-right.ejs') %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <%- include('../../partials/scripts/post-scripts.ejs') %>
    </main>
  </body>
</html>
