<!doctype html>
<html lang="vi">
  <%- include('../../partials/head.ejs') %>
  <body>
    <%- include('../../partials/scripts/pre-scripts.ejs') %>
    <%- include('../../partials/layouts/header.ejs') %>

    <main>
      <div class="container">
        <h1>Edit Profile</h1>
        <hr />
        <div class="row">
          <!-- left column -->
          <div class="col-md-3">
            <div class="text-center">
              <img
                src="//placehold.it/100"
                class="avatar img-circle"
                alt="avatar"
              />
              <h6>Upload a different photo...</h6>
              <input type="file" class="form-control" />
            </div>
          </div>
          <!-- edit form column -->
          <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a>
              <i class="fa fa-coffee"></i> Hãy nhập thông tin
            </div>
            <h3>Thông tin</h3>
            <form method="post" class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-lg-3 control-label">Name:</label>
                <div class="col-lg-8">
                  <input
                    name="name"
                    class="form-control"
                    type="text"
                    value="<%= user.name %>"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Email:</label>
                <div class="col-lg-8">
                  <input
                    name="email"
                    class="form-control"
                    type="text"
                    value="<%=user.email %>"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Phone:</label>
                <div class="col-md-8">
                  <input
                    name="phone"
                    class="form-control"
                    type="text"
                    value="<%= user.phone %>"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Password:</label>
                <div class="col-md-8">
                  <input
                    name="password"
                    class="form-control"
                    type="password"
                    value="<%= user.password %>"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Confirm password:</label>
                <div class="col-md-8">
                  <input
                    name="confirmPassword"
                    class="form-control"
                    type="password"
                    value="<%= user.password %>"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                  <button type="submit" class="btn btn-primary w-100">
                    Lưu thông tin
                  </button>
                  <!-- <input type="button" class="btn btn-primary" value="Save Changes"> -->
                  <span></span>
                  <!-- <input type="reset" class="btn btn-default" value="Cancel"> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr />
      <%- include('../../partials/scripts/post-scripts.ejs') %>
    </main>
  </body>
</html>
