<!doctype html>
<html lang="vi">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/layouts/header.ejs') %>
    <main>
      <!-- <header class="navbar navbar-expand-md d-print-none">
        <div class="container-xl">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-menu"
            aria-controls="navbar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1
            class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3"
          >
            <a href=".">
              <img
                src="./static/logo.svg"
                width="110"
                height="32"
                alt="Tabler"
                class="navbar-brand-image"
              />
            </a>
          </h1>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <div
              class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center"
            >
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="./#">
                    <span class="nav-link-title"> First </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./#">
                    <span class="nav-link-title"> Second </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header> -->

      <div
        id="slider"
        style="
          background-image: url(&quot;https://tromoi.com/frontend/home/images/bg_head.jpg&quot;);
          height: 400px;
          background-size: cover;
        "
      >
        <div class="text-content">
          <h1 class="text-heading">TRỌ HÀ NỘI</h1>
          <div class="text-description">
            <p>
              Trohanoi.com - Trang thông tin tìm và cho thuê phòng trọ nhanh
              chóng, hiệu <br />quả số với hơn 500 tin đăng mới và 30.000 lượt
              xem mỗi ngày.
            </p>
          </div>
        </div>
      </div>
      <div class="page-wrapper">
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h1 class="page-title">Trọ của bạn</h1>
                <div class="text-secondary mt-1">1-6 của 241 ảnh</div>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="d-flex">
                  <a href="#" class="btn btn-primary">
                    <%- include('../partials/icons/home-plus.ejs') %>
                    <span>Đăng tin</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <a href="#" class="d-block"><img class="card-img-top" /></a>
                  <div class="card-body">
                    <h3 class="card-title">Card with title and image</h3>
                    <p class="text-secondary">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Aperiam deleniti fugit incidunt, iste, itaque minima neque
                      pariatur perferendis sed suscipit velit vitae voluptatem.
                    </p>

                    <div class="d-flex align-items-center">
                      <span
                        class="avatar me-3 rounded"
                        style="background-image: url(./static/avatars/000m.jpg)"
                      ></span>
                      <div>
                        <div>Paweł Kuna</div>
                        <div class="text-secondary">3 days ago</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-secondary">
                          <%- include('../partials/icons/eye.ejs') %>
                          <span>0</span>
                        </a>
                        <a href="#" class="ms-3 text-secondary">
                          <%- include('../partials/icons/heart.ejs') %>
                          <span>0</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-wrapper">
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h1 class="page-title">Trọ nổi bật</h1>
                <div class="text-secondary mt-1">1-6 của 241 ảnh</div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <a href="#" class="d-block"><img class="card-img-top" /></a>
                  <div class="card-body">
                    <h3 class="card-title">Card with title and image</h3>
                    <p class="text-secondary">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Aperiam deleniti fugit incidunt, iste, itaque minima neque
                      pariatur perferendis sed suscipit velit vitae voluptatem.
                    </p>

                    <div class="d-flex align-items-center">
                      <span
                        class="avatar me-3 rounded"
                        style="background-image: url(./static/avatars/000m.jpg)"
                      ></span>
                      <div>
                        <div>Paweł Kuna</div>
                        <div class="text-secondary">3 days ago</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-secondary">
                          <%- include('../partials/icons/eye.ejs') %>
                          <span>0</span>
                        </a>
                        <a href="#" class="ms-3 text-secondary">
                          <%- include('../partials/icons/heart.ejs') %>
                          <span>0</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-wrapper">
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h1 class="page-title">Trọ gần đây</h1>
                <div class="text-secondary mt-1">1-6 của 241 ảnh</div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <a href="#" class="d-block"><img class="card-img-top" /></a>
                  <div class="card-body">
                    <h3 class="card-title">Card with title and image</h3>
                    <p class="text-secondary">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Aperiam deleniti fugit incidunt, iste, itaque minima neque
                      pariatur perferendis sed suscipit velit vitae voluptatem.
                    </p>

                    <div class="d-flex align-items-center">
                      <span
                        class="avatar me-3 rounded"
                        style="background-image: url(./static/avatars/000m.jpg)"
                      ></span>
                      <div>
                        <div>Paweł Kuna</div>
                        <div class="text-secondary">3 days ago</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-secondary">
                          <%- include('../partials/icons/eye.ejs') %>
                          <span>0</span>
                        </a>
                        <a href="#" class="ms-3 text-secondary">
                          <%- include('../partials/icons/heart.ejs') %>
                          <span>0</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
