<!doctype html>
<html lang="en">
  <%- include('../head.document.ejs', { title: 'Trang chủ' }) %>
  <body>
    <%- include('../components/layouts/header.layout.ejs') %>
    <main class="flex flex-col items-center gap-6">
      <%- include('../components/layouts/home/banner.layout.ejs') %> <%-
      include('../components/forms/filter.form.ejs', {districts:
      locals.districts}) %> <%-
      include('../components/layouts/home/featured.layout.ejs', {houses:
      locals.houses}) %>
    </main>
  </body>
</html>
