<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>Details of Room</h1>
      <h1>
        Tên trọ:
        <%= room.name %>
      </h1>
      <h1>
        Miêu tả
        <%= room.description %>
      </h1>
      <h1>
        Địa chỉ:
        <%= room.address %>
      </h1>
      <h1>
        Giá:
        <%= room.price %>
      </h1>
      <h1>
        Diện tích:
        <%= room.size %>
      </h1>
      <h1>
        Số người ở:
        <%= room.capacity %>
      </h1>
      <div></div>
    </main>
  </body>
</html>
